<table class="table table-stripe">

    <tr>
        <td>Api Name</td>
        <td>Api Url</td>
        <td>Action</td>
    </tr>

    <tr *ngFor="let data of addService.getData()">
        <td>{{data.Apiname}}</td>
        <td>{{data.Apiurl}}</td>
        <!-- Add delete button -->
        <td><button id="remove" (click)="deleteRow(data)">DELETE </button></td>

        <!-- <td> <button class='btn btn-danger' ng-click="deleteRow($index)">Delete</button> </td> -->
    </tr>
    
    <div *ngFor="let message of data" class="alert alert-sm alert-info">{{message.text}}</div>

    

</table>
