<a [routerLink]="['/add']" class="btn btn-primary">Add a new Api</a> <!--IMPPPP : ['./add ']adds from current route, and /route is absolute from home-->


<table class="table table-stripe">


    <tr>
        <td>Api Name</td>
        <td>Api Url</td>
        <td>Action</td>
    </tr>

    <tr *ngFor="let data of array">
        <td>{{data.title}}</td>
        <td>{{data.body}}</td>
        <!-- Add delete button -->
        <td><button id="remove" (click)="deleteRow(data)">DELETE </button></td>

        <!-- <td> <button class='btn btn-danger' ng-click="deleteRow($index)">Delete</button> </td> -->
    </tr>
    
    <div *ngFor="let message of array" class="alert alert-sm alert-info">{{message.text}}</div>

    

</table>
